<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Lista de Usuario</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div th:insert="fragments/header :: modelheader"></div>
        <div class="container">
            <form th:action="@{/clientes/buscarforname}" method="get">
                <input type="text" th:value="@{nome}" th:name="nome">
                <input type="submit" value="buscar">
            </form>
            <br>
            <div th:class="${!#strings.isEmpty(cadastro)}?${'alert alert-info d-flex'}">
                <span th:text="${!#strings.isEmpty(cadastro)}?${cadastro}"></span>           
            </div>
             <div th:class="${!#strings.isEmpty(erroExcluir)}?${'alert alert-danger d-flex'}">
                <span th:text="${!#strings.isEmpty(erroExcluir)}?${erroExcluir}"></span>           
            </div>
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th>Id</th>
                        <th>Nome</th>
                        <th>CPF</th>
                        <th colspan="2" class="text-center">Opções</th>
                    </tr>
                </thead>
                <tr th:each="c : ${clientePF}">
                    <td scope="row" th:text="${c.idCliente}"> </td>
                    <td th:text="${c.nome}"> </td>
                    <td th:text="${c.CPF}"> </td>            
                    <td><a role="button" class="btn btn-danger" onclick="return window.confirm('Tem certeza que deseja excluir este Usuario?')"  th:href="@{/clientes/remove/{idCliente}(idCliente=${c.idCliente})}">Excluir</a> </td>
                </tr>
            </table>           
        </div>
        <div th:insert="fragments/footer :: modelfooter"></div>

        <style>
            @import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
            body {
                font-family: 'Noto Sans', sans-serif;
            }         
        </style>
</html>
