<!DOCTYPE html>
<html>
    <head>
        <title>Usuários Cadastrados</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div th:insert="fragments/header :: modelheader"></div>
        <div class="container bg-light">         
            <hr>
            <div class="bg-dark p-3 text-white inline-block">
                <h3 class="text-center">Usuários Cadastrados</h3>
                <form th:action="@{/clientes/buscarforname}" method="get">
                    <input type="text" th:value="@{nome}" th:name="nome">
                    <input class="btn btn-light btn-sm" type="submit" value="buscar">
                    <a class="btn btn-light btn-sm" th:href="@{/clientes/list}">Limpar</a>
                </form>
            </div>                   
            <table class="table table-striped">
                <div th:class="${!#strings.isEmpty(cadastro)}?${'alert alert-info d-flex'}">
                    <span th:text="${!#strings.isEmpty(cadastro)}?${cadastro}"></span>           
                </div>
                <div th:class="${!#strings.isEmpty(erroExcluir)}?${'alert alert-danger d-flex'}">
                    <span th:text="${!#strings.isEmpty(erroExcluir)}?${erroExcluir}"></span>           
                </div>
                <thead class="table-dark">
                    <tr>
                        <th>Id</th>
                        <th>Nome</th>
                        <th>CPF</th>
                        <th colspan="2" class="text-center">Opções</th>
                    </tr>
                </thead>
                <tr th:each="c : ${clientePF}">
                    <td scope="row" th:text="${c.idCliente}"> </td>
                    <td th:text="${c.nome}"> </td>
                    <td th:text="${c.CPF}"> </td>            
                    <td><a role="button" class="btn btn-danger" onclick="return window.confirm('Tem certeza que deseja excluir este Usuario?')"  th:href="@{/clientes/remove/{idCliente}(idCliente=${c.idCliente})}">Excluir</a> </td>
                </tr>
            </table>           
        </div>
        <hr>
        <div th:insert="fragments/footer :: modelfooter"></div>

        <style>
            @import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
            body {
                font-family: 'Noto Sans', sans-serif;
            }         
        </style>
</html>
