<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Minhas Compras</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div th:insert="fragments/header :: modelheader"></div>
        <div class="container bg-light">
            <hr>
            <div class="bg-dark p-3 text-white inline-block">
                <h3 class="text-center">Minhas Compras</h3>
                <form th:action="@{/vendas/buscarfordata}" method="get">
                    <input type="date" th:value="@{databusca}" th:name="databusca">
                    <input class="btn btn-light btn-sm" type="submit" value="buscar">
                    <a class="btn btn-light btn-sm" th:href="@{/vendas/mysales}">Limpar</a>
                </form>
            </div>
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th>Código</th>
                        <th>Data</th>
                        <th>Hora</th>
                        <th>Valor</th>
                        <th>Cliente</th>
                        <th>Opções</th>
                    </tr>
                </thead>
                <tr th:each="v : ${vendas}">
                    <td scope="row" th:text="${v.idVenda}"> </td>
                    <td th:text="${v.localDate}"> </td>
                    <td th:text="${v.localTime}"> </td>
                    <td th:text="${v.TotalVenda()}"> </td>
                    <td th:text="${v.cliente.getNome()}"> </td>
                    <td><a role="button" class="btn btn-info" th:href="@{/vendas/details/{idVenda}(idVenda=${v.idVenda})}">DETALHES</a></td>
                </tr>
            </table>
        </div>
        <br>
        <div th:insert="fragments/footer :: modelfooter"></div>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
            body {
                font-family: 'Noto Sans', sans-serif;
            }         
        </style>
    </body>
</html>
