<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Produtos</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header>
            <h1>Produtos</h1>
        </header>
        <div>
            <h2>Cadastrar Produtos</h2>
            <form>
                <input type="hidden" th:field="{idProduto}">
                <input type="text" th:field="{descricao}" placeholder="Descrição">
                <input type="text" th:field="{valor}" placeholder="Valor">
                
                <input type="submit" value="Cadastrar">
            </form>
            
        </div>
        <div>
            <h2>Catálago de Produtos</h2>
            
        </div>
    </body>
</html>
