<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Venda</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <table class="table" border="1">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Data</th>
                    <th>Quantidade</th>
                    <th>Descrição</th>
                    <th>Valor</th>
                </tr>
            </thead>
            <tr th:each="v : ${vendas}">
                <td th:text="${v.idVenda}"> </td>
                <td th:text="${v.data}"> </td>
                <td th:text="${v.QtdTotalItem}"> </td>
                <td th:text="${v.toString}"> </td> 
                <td th:text="${v.TotalVenda}"> </td>
            </tr>
        </table>
        <style>
            body {
                font-family: sans-serif;
            }
            .table, th, td {

                border: 1px solid #ddd;
            }
            th {
                background-color: #1C1C1C;
                color: white;
            }
        </style>
    </body>
</html>
