<!DOCTYPE html>
<html>
    <head>
        <title>Venda</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Lista de Vendas</h1>
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Data</th>
                    <th>Valor</th>
                </tr>
            </thead>
            <tr th:each="v : ${vendas}">
                <td th:text="${v.idVenda}"> </td>
                <td th:text="${v.localDate}"> </td>
                <td th:text="${v.TotalVenda()}"> </td>
            </tr>
        </table>
        <style>
            body {
                font-family: sans-serif;
            }
            .table, th, td {
                border: 1px solid #ddd;
            }
            th {
                background-color: #1C1C1C;
                color: white;
            }
        </style>
    </body>
</html>
