<!DOCTYPE html>
<html>
    <head>
        <title>Vendas</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body class="jumbotron">
        <div th:insert="fragments/header :: modelheader"></div>
        <div class="container">
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th>Id</th>
                        <th>Data</th>
                        <th>Valor</th>
                        <th>Cliente</th>
                        <th>Opções</th>
                    </tr>
                </thead>
                <tr th:each="v : ${vendas}">
                    <td scope="row" th:text="${v.idVenda}"> </td>
                    <td th:text="${v.localDate}"> </td>
                    <td th:text="${v.TotalVenda()}"> </td>
                    <td th:text="${v.cliente.getNome()}"> </td>
                    <td><a role="button" class="btn btn-info">VER</a></td>
                </tr>
            </table>
            <a role="button" class="btn btn-secondary" th:href="@{/vendas/form}">Voltar</a>
        </div>
        <div th:insert="fragments/footer :: modelfooter"></div>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
            body {
                font-family: 'Noto Sans', sans-serif;
            }         
        </style>
    </style>
</body>
</html>
