<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Nota Fiscal</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div th:insert="fragments/header :: modelheader"></div>
        <div class="container bg-light">
            <hr>
            <div class="bg-dark p-3 text-white">
                <h3 class="text-center">Nota Fiscal</h3>
            </div>
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th>Código Venda</th>
                        <th>Data</th>
                        <th>Hora</th>
                        <th>Total de itens</th>
                        <th>Total</th>
                        <th>Cliente</th>
                    </tr>
                </thead>
                <tr th:each="v : ${vendas}">
                    <td scope="row" th:text="${v.idVenda}"> </td>
                    <td th:text="${v.localDate}"> </td>
                    <td th:text="${v.localTime}"> </td>
                    <td th:text="${v.QtdTotalItem}"> </td>                    
                    <td th:text="${v.TotalVenda()}"> </td>
                    <td th:text="${v.cliente.getNome()}"> </td>                  
                </tr>
            </table>
            <table class="table">
                <thead class="table-dark">
                    <tr> 
                        <th>Produto</th>
                        <th>Descrição</th>
                        <th>Quantidade</th>
                        <th>Preço Unitário</th>
                        <th>Valor Total</th>                       
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-light" th:each="i : ${itemVenda}">          
                        <td th:text="${i.produto.nome}"> </td>
                        <td th:text="${i.produto.descricao}"> </td>
                        <td th:text="${i.quantidade}"> </td>
                        <td th:text="${#numbers.formatDecimal(i.produto.valor, 1, 2)}"> </td>
                        <td th:text="${#numbers.formatDecimal(i.TotalItem(), 1, 2)}"> </td>
                    </tr>
                </tbody>
            </table>
            <div class="float-right">
                <label>Total da Compra: R$ </label><span th:each="v : ${vendas}" th:text="${v.TotalVenda()}"></span>
            </div>
            <a role="button" class="btn btn-secondary" sec:authorize="hasRole('ADMIN')" th:href="@{/vendas/saleslist}">Voltar</a>
            <a role="button" class="btn btn-secondary" sec:authorize="hasRole('EDITOR')" th:href="@{/vendas/mysales}">Voltar</a>            
        </div>
        <hr>
        <div th:insert="fragments/footer :: modelfooter"></div>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
            body {
                font-family: 'Noto Sans', sans-serif;
            }         
        </style>
    </body>
</html>
