<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Carrinho de Compras</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div th:insert="fragments/header :: modelheader"></div>
        <div class="container">            
            <h3>Meu Carrinho de Compras</h3>
            <table class="table">
                <thead class="table-dark">
                    <tr>
                        <th>Item</th>
                        <th>Produto</th>
                        <th>Descrição</th>
                        <th>Quantidade</th>
                        <th>Total</th>
                        <th>Opções</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-light" th:each="i : ${session.venda.itemVenda}">
                        <td th:text="${i.idItemVenda+1}"> </td>
                        <td th:text="${i.produto.nome}"> </td>
                        <td th:text="${i.produto.descricao}"> </td>
                        <td th:text="${i.quantidade}"> </td>
                        <td th:text="${#numbers.formatDecimal(i.TotalItem(), 1, 2)}"> </td>
                        <td><a role="button" class="btn btn-danger" th:href="@{/vendas/remover/{id}(id=${i.produto.idProduto})}">Excluir</a> </td>
                    </tr>
                </tbody>
            </table>
            <div th:class="${!#strings.isEmpty(erroItem)}?${'alert alert-danger d-flex'}">
                <span th:text="${!#strings.isEmpty(erroItem)}?${erroItem}"></span>           
            </div> 
            <br>
            <div th:class="${!#strings.isEmpty(erroCliente)}?${'alert alert-danger d-flex'}">               
                <span th:text="${!#strings.isEmpty(erroCliente)}?${erroCliente}"></span>            
            </div>
            <form class="float-right" th:action="@{/vendas/save}" th:object="${clientePF}" method="post">
                <label>Cliente: </label>
                <select th:name="idCliente" >
                    <option th:value = 0 > - </option>
                    <option th:each="c : ${clientePF}" th:text="${c.nome}" th:value="${c.idCliente}"></option>                      
                </select>
                <label>Total Compra: R$ </label><span th:text="${session.venda.TotalVenda()}"></span>
                <input role="button" class="btn btn-primary" type="submit" value="Finalizar Compra">
            </form>
                  
            <a role="button" class="btn btn-secondary" th:href="@{/vendas/catalog}">Adicionar mais itens</a>           
        </div>
        <div th:insert="fragments/footer :: modelfooter"></div>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
            body {
                font-family: 'Noto Sans', sans-serif;
            }
        </style>
    </body>
</html>
