<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>JHSS-TECH Importados - Home</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div th:insert="fragments/header :: modelheader"></div>
        <main>
            <div class="position-relative overflow-hidden p-3 m-md-3 text-center bg-light">
                <div class="col-md-5 mx-auto my-5">
                    <h1 class="displa fw-normal">As Melhores Ofertas em Tecnologia</h1>
                    <a class="btn btn-outline-secondary" th:href="@{/vendas/catalog}">Veja Nosso Catálogo</a>
                </div>
            </div>            
        </main>
        <div th:insert="fragments/footer :: modelfooter"></div>
    </body>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
        body {
            font-family: 'Noto Sans', sans-serif;
        }         
    </style>
</html>
